{% if status == 'status_paid' %}
    <span class="text-success">
        {{ status | trans({}, 'Finance')|capitalize }}
    </span>
{% elseif status == 'status_pending' %}
    <span class="text-warning">
        {{ status | trans({}, 'Finance')|capitalize }}
    </span>
{% else %}
    <span class="text-muted">
        {{ status | trans({}, 'Finance')|capitalize }}
    </span>
{% endif %}